
server:
  port: 8080

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:${server.port}/eureka/

spring:
  application:
    name: eureka-center
